* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #1a1a1a;
  --light: #fefefe;
}

body {
  background-color: var(--dark);
}

.main {
  background-color: var(--light);
  min-height: 100vh;
  padding-top: 1rem;
}

.container {
  max-width: 550px;
}

.search-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  width: 100%;
  padding: 0.2rem 1rem;
  border: 0.5px solid #ddd;
  border-radius: 0.3rem;
}

.form-control {
  border: none;
}
