:root {
  --dark: #1a1a1a;
  --light: #fefefe;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  color: var(--dark);
}

body {
  background-color: var(--dark);
}

ul {
  padding-left: 0;
}

.main {
  background-color: var(--light);
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  max-width: 550px;
}

.search-form,
.peopleItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.5px solid #ddd;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

/* page btns */

.pagination {
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn-container {
  display: flex;
}

.prev {
  justify-content: flex-start;
}
.current {
  justify-content: center;
}
.next {
  justify-content: flex-end;
}

.btn {
  background-color: rgb(120, 71, 255);
  color: var(--light);
  border-radius: 0.6rem;
  min-width: 5rem;
}

.people-section {
  margin-top: 1rem;
}

.form-control,
.form-control:focus {
  border: none;
  box-shadow: none;
}

/* people item */
.peopleItem {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  width: 100%;
  border: 0.5px solid #ddd;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.name {
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.dummy {
  visibility: hidden;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

.info {
  opacity: 0.7;
  font-size: 0.9rem;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-inner {
  background-color: #dedede;
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  font-weight: 500;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
