:root {
  --dark: #1a1a1a;
  --light: #fefefe;
  --primary: rgb(120, 71, 255);
  --primary-dark: rgb(65, 25, 173);
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
}

a,
a:hover,
a:focus {
  color: unset;
  text-decoration: unset;
}

body {
  color: var(--dark);
  background-color: var(--light);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.main {
  background-color: var(--light);
  min-height: 110vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 0.5px solid #ddd;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 550px;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.loader-container img {
  transform: scale(0.5);
}

.ui-box {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.5px solid #ddd;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.search-form,
.peopleItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.5px solid #ddd;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.peopleItem {
  cursor: pointer;
}

/* page btns */

.pagination {
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn-container {
  display: flex;
}

.prev {
  justify-content: flex-start;
}
.current {
  justify-content: center;
}
.next {
  justify-content: flex-end;
}

.btn {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 1.2rem;
}

.btn .bi {
  transform: translateY(100px);
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: none;
  color: var(--light);
  background-color: var(--primary-dark);
}

.people-section {
  margin-top: 1rem;
}

.form-control,
.form-control:focus {
  border: none;
  box-shadow: none;
}

/* people item */
.peopleItem {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  width: 100%;
  border: 0.5px solid #ddd;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.name {
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.dummy {
  visibility: hidden;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

.info {
  opacity: 0.7;
  font-size: 0.9rem;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-inner {
  background-color: #dedede;
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
  font-weight: 500;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* person */

.person-ui-box {
  margin-top: 1rem;
  min-height: 60vh;
}

.person-ui-box li {
  margin-left: 1rem;
}

.person-ui-box h1 {
  font-size: 1.4rem;
}

.person-info {
  opacity: 0.95;
}
